<footer class="grid-area-footer grid-item">
    <a href="#" id="link-top" style="padding: 3%;"><div id="triunghi"></div></a>
    <br>
    <a href="mailto:popmatei70@gmail.com" class="BUTTON_YEV" style="align-self: center;">Mail Me</a>
    <br>
    <a href="tel:+40726195996" style="align-self: flex-end; margin-right: 20px;"><span class="fas fa-gear fa-fw fa-spin"></span>Call Us: +40726195996 </a>
    <br>
    <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank" style="align-self: flex-end; margin-right: 20px;"><span class="fas fa-regular fa-house"></span> Visit Us: Strada Academiei 14, Bucharest, Romania</a>
    <br>
    <a href="https://wa.me/+40726195996" style="align-self: flex-end; margin-right: 20px;"><span class="fas fa-regular fa-handshake"></span>Chat on WhatsApp</a>
    <br>
    <small style="align-self: center; margin-right: 20px; font-size: larger;">&copy;<time datetime="2024-03-03" style="font-size: medium;">3 martie 2024</time>, Toate drepturile rezervate.</small>
  </footer>